<div id="background_header"></div>
<div id="background_body"></div>

<div id="chatContainer">
 <app-sidebar (conversationClicked)="onConversationSelector($event)"></app-sidebar>
  <div id="chat">
    <div class="chatPlaceholder" *ngIf="!conversation">
      <img width="250" src="../assets/image/phoneIcon.png"/>
      <h2>Keep Your Phone Connected</h2>
      <p>WhatsApp connects your phone to sync message. To reduce date usage,<br/>
      connect to your phone to Wi-Fi.</p>
      <div class="seperator"></div>

      <p>WhatsApp is available for Windows. <a href="#">Get it here</a></p>
    </div>

    <app-chat [conversation]="conversation" *ngIf="conversation"></app-chat>
  </div>
</div>

<router-outlet></router-outlet>
